---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "NeuConf 06/09/2025";
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle={pageTitle}>
<ul>
<li><b>дом в Kummersdorf</b>, ж/д станция в 10 минутах пешком</li>
<li><b>ночёвка</b> возможна, уместим всех! если не в доме, то точно в палатке на лужайке, так что если есть, берите спальники, так вы себе точно обеспечите возможность **вкусненько позавтракать в воскресенье**
**НО** не надо специально под конфу ничего искать/покупать/выискивать, только если под рукой и удобно привезти</li>
<li>первые выходные сентября **5.09-7.09**</li>
<li>начинаем пускать гостей в субботу **6.09 в 11 утра**</li>
<li>**в 11:30** запустим HR-ный **one shot** по авторской dnd-like ролёвке</li>
<li>**спикеры** начнут выступать **с 15 часов**</li>
<li>**развлечения**: сапы, лодки, джакузи, сауна, река, батут, медитации, караоке, покер, квизы, фортепиано и гитара (если есть классные идеи — предлагай!)</li>
</ul>
</BaseLayout>
