---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "НойКонф — 5–7 сентября 2025";
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="text-neutral-900 text-justify leading-relaxed">
    <section class="mb-8 text-justify">
      <h2 class="text-3xl font-bold mb-4">О нас</h2>
      <p class="mb-4">
          <i>Привет!</i> Мы — орги конф <b>Peredelano Берлин</b> (в июне 2024 и январе 2025). Птенцы выпорхнули из гнезда и теперь мы запускаем кое-что своё — <b>НойКонф</b>.
          Почему <i>ной</i>? Ну, мы знаем, как любят поныть русскоговорящие айтишники в Берлине, Германии, да и вообще в Европе. Но мы предлагаем не просто поныть, а
        сделать это <b>на природе</b> и в новом интересном формате — наши конфы (пока) не узкоспециализированы, и нетворкинг у нас выходит далеко за рамки обсуждения
          рабочих подходов. Мы предлагаем провести <b>первые выходные сентября в доме</b>!
      </p>

      <h2 class="text-3xl font-bold mb-4">О доме</h2>
      <p class="mb-4">
          Мы нашли отличный дом всего в 10 минутах ходьбы от станции <i>Kummersdorf</i>, до которой до поздней ночи ходят RE-шки. У дома три этажа, камин, лужайка,
        выход к реке, сауна, джакузи, терраса — и все вытекающие из этого сеттинга развлечения. При необходимости (и по настроению дойче бана) отвезём до
          станции <i>Königs Wusterhausen</i>, откуда всю ночь ходят эсбаны.
      </p>

      <h2 class="text-3xl font-bold mb-4">О расписании</h2>
      <p class="mb-4">
        Формат ивента — <b>кэмп выходного дня:</b> приезжай в пятницу вечером, а уезжай в воскресенье утром. Но это если ты захочешь, конечно. Официально мы
        откроем двери в <b>11:00 в субботу</b>, а спикеры (подробнее про них можно прочитать <a href="/speakers" class="underline text-blue-600 hover:text-blue-800">вот тут</a>)
        начнут выступать <b>в субботу, 6.09, с 14:00</b>. Доклады продлятся до 19:00, а потом начнётся неформальная часть — караоке, квизы, покер, игры и прочие развлечения.
      </p>

      <p class="mb-4">Вот такой будет распорядок дней:</p>
      <ul class="list-disc pl-6 space-y-2">
        <li><b>Пятница, 5.09:</b> ранний заезд для пятничных — с 19:00. Ужин, лёгкие напитки, сауна и джакузи</li>
        <li><b>Суббота, 6.09:</b> в 9:00 — завтрак с катиными вкусными и красивыми панкейками</li>
        <li>11:00 — открываем двери, встречаем гостей, знакомимся, отдыхаем на солнышке</li>
        <li>14:00 — доклады</li>
        <li>19:00 — неформальная часть: бургеры, радлеры, вечерние развлечения</li>
        <li><b>Воскресенье, 7.09:</b> завтрак как проснёмся, не только панкейки :)</li>
        <li>12:00 — покидаем дом, <i>kiss each other goodbye</i>, радуемся лучшим выходным лета и ждём следующей конфы</li>
      </ul>
    </section>
  </div>
</BaseLayout>
