---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = ''
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="text-neutral-900">
    <section class="mb-8 text-justify text-center">
      <h1 style="font-family: 'Practice', sans-serif;">НОЙКОНФ</h1>
      <h2 style="font-family: 'Manrope', sans-serif;">Кэмп выходного дня: IT-рейв и митап-вечеринка в бранденбуржском подберлинье</h2>
      <p style="font-family: 'Manrope', sans-serif;">Куммерсдорф, Берлин</p>
      <p style="font-family: 'Manrope', sans-serif;">5–7 сентября 2025</p>
    </section>

    <section class="main-image">
      <img src="/images/main_sup.jpeg" alt="Main visual" />
    </section>
  </div>
</BaseLayout>
